label {
  font-size: 23px;
  margin-left: 12px;
  margin-right: 12px;
}
input {
  width: 15em;
  border-radius: 4px;
  border: solid 1px #ccc;
  padding: 0.4em;
}

button {
  background-color: #008cba;
  border-radius: 4px;
  border: solid 1px #ccc;
  color: white;
  padding: 0.4em;
  margin-left: 13px;
  font-size: 16px;
}

.nameHeader {
  float: left;
  width: 40%;
  height: 30px;
  font-size: 23px;
  text-align: center;
}
.costHeader {
  float: left;
  width: 30%;
  height: 30px;
  font-size: 23px;
  text-align: center;
}
.rewardsHeader {
  float: right;
  width: 30%;
  height: 30px;
  font-size: 23px;
  text-align: center;
}

.resultComp {
  margin-top: 3px;
}

h1 {
  text-align: center;
}

p {
  font-size: 25px;
}
